<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="../css/stylesheet.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
<link rel="stylesheet" href="https://www.ionos.it/digitalguide/path/to/font-awesome/css/font-awesome.min.css"> 
<title>Insert title here</title>

</head>
<body th:fragment="footer">

<footer>

       
        <p class="copyright">&copy; Copyright 2023 Università degli Studi di Salerno</p>
  
</footer>

</body>
</html>