<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="../css/stylesheet.css">
<title>Insert title here</title>
</head>
<body th:fragment="header">
<div class="container">
	<div class="header">
		<div class="logo-container">	
		<a href="homepage"><img class="logo" th:src="@{/images/logobuono.png}" alt="logo"></a>
		</div>
		
		<div class="center-container">
		<div class="titolo"> PRIVACY FOR YOU </div>
		<div class="header-menu">
			<a href="homepage">Home</a>
			<a href="Articoli">Articoli & News</a>
			<a href="Favole">Favole</a>
			<a href="ArgomentoStudio">Studia con noi</a>
		</div>
		</div>
		<!-- cambiamo il tasto login con l'omino del profilo solo dopo che l'utente ha effettuato l'accesso-->
		<div class="header-icons">
	 	<div class="login"><button class="button"><a href="login"> LOGIN </a></button></div>  
			<div class="login">
				<!-- 	<a href="login"><img th:src="@{images/login.png}" alt="login" width=60px height=60px></a>  -->
				</div>
		<div class="search-bar">
  			<input type="text" placeholder="Cerca...">
 		</div>
		</div>
	</div>
</div>

</body>
</html>