<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <title></title>
  <link rel="stylesheet" href="css/stylesheet.css">
</head>

<body>
    
  <nav class="navbar"  th:fragment="navbar">
    <div class="menu-icon">
      <span></span>
      <span></span>
      <span></span>
    </div>

    <div class="logo">
      <h3>Privacy Literacy</h3>
    </div>
   
    <ul class="nav-links">
      <li><a href="">Home</a></li>
      <li><a href="">Favola</a></li>
      <li><a href="">Articoli</a></li>
      <li><a href="">Profilo</a></li>
    </ul>
  </nav>

<!--   <script> -->
//   const menuSlide = () => {
// 	    const menuIcon = document.querySelector(".menu-icon");
// 	    const navLinks = document.querySelector(".nav-links");
// 	    const navLinksInner = document.querySelectorAll(".nav-links li");
	  
// 	    //menu-icon click event
// 	    menuIcon.addEventListener("click", () => {
// 	      //toggle active class
// 	      navLinks.classList.toggle("menu-active");
	  
// 	      //animate navLinks
// 	      navLinksInner.forEach((li, index) => {
// 	        if (li.style.animation) {
// 	          li.style.animation = "";
// 	        } else {
// 	          li.style.animation = `navLinkAnime 0.5s ease forwards ${
// 	            index / 7 + 0.3
// 	          }s`;
// 	        }
// 	      });
	  
// 	      //toggle for menu-icon animation
// 	      menuIcon.classList.toggle("span-anime");
// 	    });
// 	  };
	  
// 	  menuSlide();
	  
<!--   </script> -->

</body>

</html>