<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<link rel="stylesheet" href="/css/stylesheet.css">
	<link rel="icon" type="image/png" href="img/logo.png" />
	<title>Privacy Literacy - Studia un argomento</title>
</head>

<body>
	<div th:insert="~{fragments/header::header}"></div>
	<br>

	<div class="background">

		<div class="titolo" th:text="${argomento.titolo}">titolo
			argomento</div>
		<hr class="riga2">
		<br>
		<div class="grid-visual">
			<div class="freccia">
				<a type="submit" th:if="${argomento.id_studio}>1"
					th:href="@{/argomenti/argomentoView/{id}(id=${argomento.id_studio}-1)}">
					< </a>
			</div>

			<div> <!-- contenuto -->

				<div class="hashtag">

					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
						class="bi bi-bookmarks" viewBox="0 0 16 16">
						<path
							d="M2 4a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v11.5a.5.5 0 0 1-.777.416L7 13.101l-4.223 2.815A.5.5 0 0 1 2 15.5V4zm2-1a1 1 0 0 0-1 1v10.566l3.723-2.482a.5.5 0 0 1 .554 0L11 14.566V4a1 1 0 0 0-1-1H4z" />
						<path
							d="M4.268 1H12a1 1 0 0 1 1 1v11.768l.223.148A.5.5 0 0 0 14 13.5V2a2 2 0 0 0-2-2H6a2 2 0 0 0-1.732 1z" />
					</svg>
					<p> </p>
					<p class="meta-info" th:text="'#'+${argomento.meta_info}"></p>

				</div>
				<br>
				<div class="container-argomento">
					<p th:text="${argomento.descrizione}">contenuto</p>
				</div>

				<th:block th:if="${argomento.linkvideo} != null">
					<fieldset style="padding:1% 3% 1% 3%; margin:1% 10% 1% 10%;">
						vedi anche:
						<a target="_blank" th:href="${argomento.linkvideo}" th:text="${argomento.linkvideo}"> </a>
						<br> ho provato con il frame ma youtube nega la connessione
						<iframe th:src="${argomento.linkvideo}">
						</iframe>
					</fieldset>
				</th:block>
			</div>
			<div class="freccia">
				<a type="submit" th:if="${argomento.id_studio}< ${ultimoId}"
					th:href="@{/argomenti/argomentoView/{id}(id=${argomento.id_studio}+1)}"> > </a>
			</div>
		</div>
	</div>


	<div th:insert="fragments/footer::footer"></div>
</body>

</html>