<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../css/stylesheet.css">
	<title>Privacy Literacy - Admin Page</title>
</head>

<body>
	<div th:insert="~{fragments/header::header}"></div>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<form th:action="@{/studia-con-noi}" th:object="${argomento}" method="POST">
		<div class="box-titolo">
			<p class="titAdmin">CREA UN NUOVO ARGOMENTO</p>
		</div>

		<div class="background">

			<div class="boxArg">

				<fieldset>
					<legend>Titolo*</legend>
					<input type="text" name="titolo" placeholder="Inserisci il titolo dell'arogmento studio"
						maxlength="60" min="2" required="required">
				</fieldset>
				<fieldset>
					<legend>Descrizione*</legend>
					<textarea name="descrizione"
						placeholder="Inserisci il testo dell'argomento studio (min 200, max 5000)" maxlength="5000"
						required="required"></textarea>
				</fieldset>
				<fieldset>
					<legend>Meta-Info*</legend>
					<select name="metainfo" id="metainfo" required="required">
						<th:block th:each="meta : ${metainfo}">
							<option th:value="${meta.keyword}" th:text="${meta.keyword}"></option>
						</th:block>
					</select>
				</fieldset>
				<fieldset>
					<legend>Link-Video</legend>
					<input type="text" name="video"
						placeholder="Inscrisci il link del video dell'arogmento studio (FACOLTATIVO)">
				</fieldset>
			</div>
			<div class="buttonArg">
				<button class="button" type="submit" formaction="/admin/addArgomento"
					formmethod="post">Conferma</button>
			</div>
		</div>
	</form>
	<div th:insert="fragments/footer::footer"></div>
</body>

</html>