<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<script type="text/javascript" src="../js/ConvalidazioneCampi.js"></script>
<link rel="stylesheet" href="/css/stylesheet.css">
<link rel="icon" type="image/png" href="img/logo.png" />
<title>Privacy Literacy - Login</title>
</head>
<body>
	<div th:insert="~{fragments/header::header}"></div>
	<br>
	<div class="container-home">
		<h1>QUESTA PAGINA VISUALIZZA IL FORM PER MODIFICARE L' UTENTE</h1>
		<form th:action="@{/modificaUtente/{email} (id=${utente.email})}" th:object="${utente}" method="post">


			<a type="submit" class="button" th:href="@{/modificaUtente/{email} (id=${utente.email})}"> Modifica </a>
			
		</form>
		<a type="submit" class="button"	th:href="@{/profilo}"> Annulla </a>
	</div>
</body>
</html>