<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="../css/stylesheet.css">
<title>Privacy Literacy</title>
</head>

<body>
	<div th:insert="~{fragments/header::header}"></div>
	<div class="container-home">
		<div class="box-titolo">
				<div class="titolo">Favole</div>
			</div>
	 <a type="button" th:if="${!session.isEmpty()} and ${session.userSession.email.equals('admin@gmail.com')}" class="button" th:href="@{/admin/createFavola}"> Aggiungi </a>
		<div class="background">
		<br>
			<!-- CONTROLLO SE L'UTENTE SIA ADMIN -->
			<th:block th:if="${!session.isEmpty()} and ${session.userSession.email.equals('admin@gmail.com')}" th:each="favola : ${tutteFavole}">
				<fieldset>
					<legend th:text="${favola.meta_info}">Meta-Info</legend>
					<div class="box-argomento">
						<h3 style="font-family: 'Tempus Sans ITC'; color: purple;"
							th:text="${favola.titolofavola}">Titolo Favola</h3>
						<p style="font-family: 'Segoe Print'; font-size: x-small;"
							th:text="${favola.getTestofavola().substring(0,200).concat('...')}">
							Contenuto piccolo della favola</p>
					</div>
						<a class="button" type="submit" th:href="@{/favole/favolaView/{id}(id=${favola.id_favola})}">Continua</a>
						<a class=button type="submit" th:href="@{/admin/fixedFavola/{id}(id=${favola.getId_favola()})}">Modifica</a>
						<a class=button type="submit" th:href="@{/admin/deleteFavola/{id}(id=${favola.getId_favola()})}">Elimina</a>
				</fieldset>
			</th:block>

			<!--  ALTRIMENTI -->
			<th:block
				th:if="${session.isEmpty()} or ${!(session.userSession.email.equals('admin@gmail.com'))}">
				<div class="grid-container">
					<th:block th:each="favola : ${tutteFavole}">
						<div class="grid-item">
							<fieldset>
								<legend th:text="${favola.meta_info}">Meta-Info</legend>
								<div class="box-argomento">
									<h3 style="font-family: 'Tempus Sans ITC'; color: purple;"
										th:text="${favola.titolofavola}">Titolo Favola</h3>
									<p style="font-family: 'Segoe Print'; font-size: x-small;"
										th:text="${favola.getTestofavola().substring(0,200).concat('...')}">
										Contenuto piccolo della favola</p>
								</div>
								<a class="button" type="submit" th:href="@{/favole/favolaView/{id}(id=${favola.id_favola})}">Continua</a>
							</fieldset>
						</div>
					</th:block>
				</div>
			</th:block>


		</div>
	</div>
</body>
</html>