<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<link rel="stylesheet" href="../css/stylesheet.css">
	<title>Privacy Literacy - Argomenti</title>
</head>

<body>
	<div th:insert="~{fragments/header::header}"></div>
	<br>


	<div class="background">
		<div class="box-titolo">
			<div class="titolo">Studia con noi</div>
		</div>
		<a type="button" th:if="${!session.isEmpty()} and ${session.userSession.email.equals('admin@gmail.com')}"
			class="button" th:href="@{/admin/creaArg}"> Aggiungi </a>

		<!-- CONTROLLO SE L'UTENTE SIA ADMIN -->
		<th:block th:if="${!session.isEmpty()} and ${session.userSession.email.equals('admin@gmail.com')}"
			th:each="arg : ${argomentiView}">
			<fieldset>
				<legend th:text="${arg.meta_info}">Meta-Info</legend>
				<div class="box-argomento">
					<h3 th:text="${arg.titolo}">Titolo Argomento</h3>
					<p th:text="${arg.getDescrizione().substring(0,200).concat('...')}">contenuto</p>
				</div>
				<a class="button" type="submit"
					th:href="@{/argomenti/argomentoView/{id}(id=${arg.id_studio})}">Continua</a>
				<a class=button th:href="@{/admin/fixedArgomento/{id}(id=${arg.getId_studio()})}">Modifica</a>
				<a class=button th:href="@{/admin/deleteArgomento/{id}(id=${arg.getId_studio()})}">Elimina</a>
			</fieldset>
		</th:block>

		<!--  ALTRIMENTI -->
		<th:block th:if="${session.isEmpty()} or ${!(session.userSession.email.equals('admin@gmail.com'))}">
			<div class="grid-container">
				<th:block th:each="arg : ${argomentiView}">
					<div class="grid-item">
						<fieldset>
							<legend th:text="${arg.meta_info}">Meta-Info</legend>
							<div class="box-argomento">
								<h3 th:text="${arg.titolo}">Titolo Argomento</h3>
								<p th:text="${arg.getDescrizione().substring(0,150).concat('...')}">contenuto</p>
							</div>
							<div class="box-continua">
								<a type="submit" class="link2"
									th:href="@{/argomenti/argomentoView/{id}(id=${arg.id_studio})}">Continua </a><svg
									xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
									class="bi bi-arrow-right arrow-continua" viewBox="0 0 16 16">
									<path fill-rule="evenodd"
										d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
								</svg>
							</div>
						</fieldset>

					</div>
				</th:block>
			</div>
		</th:block>
	</div>

	<div th:insert="fragments/footer::footer"></div>
</body>

</html>