<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>Privacy Literacy: termini privacy</title>
	<link rel="stylesheet" href="../css/stylesheet.css">
	<title>Privacy Literacy - Privacy Policy</title>
</head>

<body>
	<div th:insert="~{fragments/header::header}"></div>
	<img style="display: block; margin-left: auto; margin-right: auto;" src="../images/logobuono.png">
	<h2 style="display: block; text-align: center;">Informativa
		Privacy</h2>

	<p>
		Informativa Reg. UE 679/2016 ("General Data Protection Regulation -
		GDPR") <br> La informiamo che il Reg.UE 679/2016 prevede la
		tutela delle persone rispetto al trattamento dei dati personali che
		sarà improntato ai principi di correttezza, liceità e trasparenza per
		la tutela della Sua privacy e dei Suoi diritti. Maggiori informazioni
		sui diritti che la riguardano (capo III artt. da 11 a 21) possono
		essere consultati qui:
		<br> <a target="_blank"
			href="https://eur-lex.europa.eu/legal-content/IT/TXT/PDF/?uri=CELEX:32016R0679&from=IT">eur-lex.europa.eu/legal-content/IT/TXT/PDF</a>
	</p>
	<p>In particolare:</p>
	<ol>
		<li>il trattamento NON COMPRENDE dati sensibili (salute,
			politica, dati biometrici, ecc.) e i cookie non effettuano
			registrazioni di dati personali o di profilazione specifica bensì, se
			previsti, sono gestiti come cookie tecnici, a livello anonimo di
			profilazione statistica anche da terze parti (si rimanda alla sezione
			apposita per la gestione specifica di ciascuno e la definizione delle
			relative impostazioni di privacy);</li>
		<li>L’organizzazione, la gestione e l’esecuzione della fornitura
			viene svolta anche mediante comunicazione dei dati a terzi nostri
			fornitori che rispettano i medesimi criteri di protezione e sono
			stati da noi incaricati con apposite istruzioni in merito.</li>
		<li>Il trattamento sarà effettuato con strumenti
			informatici/cartacei e soggetto a politiche di conservazione idonee.</li>
		<li>Il conferimento di alcuni dati tecnici è indispensabile per
			la corretta fruizione del sito.</li>
		<li>Per quanto riguarda il modulo di prenotazione del nostro
			libro, il trattamento riguarda la gestione ed esecuzione del
			contratto, da Lei sottoscritto tramite apposizione esplicita della
			spunta sulla casella ACCONSENTO presente nel modulo stesso; da questo
			possono successivamente derivare la fornitura dei servizi richiesti,
			l'invio merce, l'espletamento di pratiche amministrative e contabili,
			il pagamento, l'eventuale invio di materiale informativo (dove da lei
			esplicitamente richiesto tramite comunicazione scritta). In tutti
			questi casi il consenso è derivante da apposita contrattualistica in
			tale fase definita, per tale trattamento non vi è obbligo di consenso
			trattandosi di esecuzione ed adempimenti ad obblighi di legge o
			contrattualizzati (art.6 Reg. UE 679/2016). L'invio della richiesta
			tramite modulo o mail con l’eventuale rifiuto di trattamento dei dati
			comporta l'impossibilità di puntuale adempimento dell'ordine.</li>
		<li>Il titolare del trattamento è:
			<br>Privacy Literacy
			<!--  		<br>Piazza Savona, 8 10120 
			<br>Torino (TO) Italia P.IVA 
			<br>06748320119
			<br>E-mail: <a
			href="mailto:privacyliteracy.infoitalia@gmail.com">privacyliteracy.infoitalia@gmail.com</a>
--> <br> al quale può rivolgersi per far valere i Suoi diritti (cancellazione, rettifica, informazione)
		</li>
	</ol>
	<hr>
	Questa pagina è visibile, mediante link in calce in tutte le pagine del
	Sito ai sensi dell’art. 122 secondo comma del D.lgs. 196/2003 e a
	seguito delle modalità semplificate per l’informativa e l’acquisizione
	del consenso per l’uso dei cookies pubblicata sulla Gazzetta Ufficiale
	n.126 del 3 giugno 2014 e relativo registro dei provvedimenti n. 229
	dell’8 maggio 2014.

	<div th:insert="fragments/footer::footer"></div>
</body>

</html>