<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="css/stylesheet.css">
	<title>Privacy Literacy</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
</head>


<body>
	<div th:insert="~{fragments/header::header}"></div>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<p class="titolo">Benvenuto sul tuo profilo personale</p>

	<div class="background">
		<div class="box-profilo">
			<div class="personal-info">
				<fieldset>
					<legend>Informazioni personali</legend>
					<div class="infoUtente">
						<label>Email:</label>
						<p th:text="${session.userSession.email}" class="title"></p>
					</div>
					<div class="infoUtente">
						<label>Password:</label>
						<p th:text="${session.userSession.password}" class="title"></p>
					</div>
					<div class="infoUtente">
						<label>Nome:</label>
						<p th:text="${session.userSession.nome}" class="title"></p>
					</div>
					<div class="infoUtente">
						<label>Cognome:</label>
						<p th:text="${session.userSession.cognome}" class="title"></p>
					</div>
					<div class="infoUtente">
						<label>Data di nascita:</label>
						<p th:text="${session.userSession.dataNascita}" class="title"></p>
					</div>
					<div>
					<a type="submit" class="button" th:href="@{/users/fixedUtente/{email} (email=${session.userSession.email})}"> Modifica </a>
					</div>
				</fieldset>
			</div>

			<div class="progresso" th:if="${session.userSession.livello} == 'Nessuno' or ${session.userSession.livello} == null">
				<fieldset>
					<legend>Il tuo progresso</legend>
					
					<p> non hai ancora effettuato nessun test, Per sbloccare questa parte
					 effettua il test valutativo sulla privacy
						
					</p>
				</fieldset>

			</div>
		</div>
	</div>

	<!--<section class="section">
		<div class="container">
			<div class="columns is-mobile">



				<div class="tile is-ancestor">
					<div class="tile is-vertical is-8">
						<div class="tile">
							<div class="column">
								1
								<div class="tile is-parent is-vertical">
									<article class="tile is-child notification is-primary">

										<p th:text="${session.userSession.email}" class="title">
											Infomrazioni personali</p>
										<p th:text="${session.userSession.password}" class="title">
											Infomrazioni personali</p>
										<p th:text="${session.userSession.nome}" class="title">
											Infomrazioni personali</p>
										<p th:text="${session.userSession.cognome}" class="title">
											Infomrazioni personali</p>
										<p th:text="${session.userSession.dataNascita}" class="title">
											Infomrazioni personali</p>



										<p class="subtitle">Nome e Cognome</p>
										<p class="subtitle">Email e Password Censurata</p>
										<p class="subtitle">Data Nascita</p>
										<p class="subtitle">Info questionario</p>
									</article>

								</div>
							</div>

							<div class="column">
								2
								<div class="tile is-parent">
									<article class="tile is-child notification is-info">
										<p class="title">Il tuo progresso personale</p>
										<p class="subtitle">Argomento 1: da studiare</p>
										<p class="subtitle">Argomento 2: studiato</p>
										<p class="subtitle">Argomento 3: da studiare</p>



										 GRAFICO A TORTA 


										<canvas id="myChart" style="width: 100%; max-width: 600px"></canvas>

										<script>
											var xValues = ["Studiati",
												"Da Studiare"];
											var yValues = [89, 11]; // qui bisognerà mettere la percentuale di ogni utente 
											var barColors = ["#b91d47", //i colori delle due sezioni
												"#00aba9"];

											new Chart(
												"myChart",
												{
													type: "doughnut",
													data: {
														labels: xValues,
														datasets: [{
															backgroundColor: barColors,
															data: yValues
														}]
													},
													options: {
														title: {
															display: true,
														}
													}
												});
										</script>





									</article>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>

		</div>
	</section>-->
</body>

</html>