<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../css/stylesheet.css">
	<title>Privacy Literacy</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
</head>


<body>
	<div th:insert="~{fragments/header::header}"></div>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<p class="titolo">Benvenuto sul tuo profilo personale</p>

	<div class="background">
		<div class="box-profilo">
			<div class="personal-info">
				<fieldset>
					<legend>Informazioni personali</legend>
					<div class="infoUtente">
						<label>Email:</label>
						<p th:text="${session.userSession.email}" class="title"></p>
					</div>
					<div class="infoUtente">
						<label>Password:</label>
						<p th:text="${session.userSession.password}" class="title"></p>
					</div>
					<div class="infoUtente">
						<label>Nome:</label>
						<p th:text="${session.userSession.nome}" class="title"></p>
					</div>
					<div class="infoUtente">
						<label>Cognome:</label>
						<p th:text="${session.userSession.cognome}" class="title"></p>
					</div>
					<div class="infoUtente">
						<label>Data di nascita:</label>
						<p th:text="${session.userSession.dataNascita}" class="title"></p>
					</div>
					<div>
						<a type="submit" class="button"
							th:href="@{/users/fixedUtente/{email} (email=${session.userSession.email})}"> Modifica </a>
					</div>
				</fieldset>
			</div>
			<fieldset>
				<legend>Il tuo progresso</legend>
				<div th:switch="${session.userSession.livello}">
					<div th:case="'Nessuno'">
						<!-- qui sarebbe meglio mettere direttamente il pulsante al test -->
						<p> Non hai ancora effettuato nessun test. <br>
							Per sbloccare questa parte effettua il test valutativo sulla privacy presente sulla <a class="link" href="/homepage">homepage</a>
						</p>
						<br>
					</div>

					<div th:case="'null'">
						<p> Non hai ancora effettuato nessun test. <br>
							Per sbloccare questa parte effettua il test valutativo sulla privacy presente sulla <a class="link" href="/homepage">homepage</a>
						</p>
						<br>
					</div>

					<div th:case="'Base'">
						<div class="infoUtente">
							<label>Livello utlimo test effettuato:</label>
							<p th:text="${session.userSession.livello}" class="title"></p>
						</div>
						<p> per controllare di nuovo i tuoi risultati clicca qui sotto</p>
						<a type="submit" class="button"
							th:href="@{/test/{email} (email=${session.userSession.email})}">Risultato ultimo test
							effettuato</a>

	<!-- grafico a torta -->
					<p th:text="'PERCENTUALE: ' + ${session.userSession.percentuale}"></p>
						
						<canvas id="myChart" style="width: 100%; max-width: 600px"></canvas>

						<script th:inline="javascript">

							/*<![CDATA[*/
							var perc = /*[[${session.userSession.percentuale}]]*/ 'default';
							var diff = 100 - /*[[${session.userSession.percentuale}]]*/ 'default';
							/*]]>*/
							var xValues = ["Studiati", "Da Studiare"];
							var yValues = [perc, diff]; // qui bisognerà mettere la percentuale di ogni utente 
							var barColors = ["#b91d47", //i colori delle due sezioni
								"#00aba9"];

							new Chart(
								"myChart",
								{
									type: "doughnut",
									data: {
										labels: xValues,
										datasets: [{
											backgroundColor: barColors,
											data: yValues
										}]
									},
									options: {
										title: {
											display: true,
										}
									}
								});
						</script>		
					

					</div>

					<div th:case="'Medio'">
						<div class="infoUtente">
							<label>Livello utlimo test effettuato:</label>
							<p th:text="${session.userSession.livello}" class="title"></p>
						</div>
						<p> per controllare di nuovo i tuoi risultati clicca qui sotto</p>
						<a type="submit" class="button"
							th:href="@{/test/{email} (email=${session.userSession.email})}">Risultato ultimo test
							effettuato</a>
							
							
					<!-- grafico a torta -->
					<p th:text="'PERCENTUALE: ' + ${session.userSession.percentuale}"></p>
						
						<canvas id="myChart" style="width: 100%; max-width: 600px"></canvas>

						<script th:inline="javascript">

							/*<![CDATA[*/
							var perc = /*[[${session.userSession.percentuale}]]*/ 'default';
							var diff = 100 - /*[[${session.userSession.percentuale}]]*/ 'default';
							/*]]>*/
							var xValues = ["Studiati", "Da Studiare"];
							var yValues = [perc, diff]; // qui bisognerà mettere la percentuale di ogni utente 
							var barColors = ["#b91d47", //i colori delle due sezioni
								"#00aba9"];

							new Chart(
								"myChart",
								{
									type: "doughnut",
									data: {
										labels: xValues,
										datasets: [{
											backgroundColor: barColors,
											data: yValues
										}]
									},
									options: {
										title: {
											display: true,
										}
									}
								});
						</script>		
					

					</div>

					<div th:case="'Alto'">
						<div class="infoUtente">
							<label>Livello utlimo test effettuato:</label>
							<p th:text="${session.userSession.livello}" class="title"></p>
						</div>
						<p> per controllare di nuovo i tuoi risultati clicca qui sotto</p>
						<a type="submit" class="button"
							th:href="@{/test/{email} (email=${session.userSession.email})}">Risultato ultimo test
							effettuato</a>
							
					<!-- grafico a torta -->
					<p th:text="'PERCENTUALE: ' + ${session.userSession.percentuale}"></p>
						
						<canvas id="myChart" style="width: 100%; max-width: 600px"></canvas>

						<script th:inline="javascript">

							/*<![CDATA[*/
							var perc = /*[[${session.userSession.percentuale}]]*/ 'default';
							var diff = 100 - /*[[${session.userSession.percentuale}]]*/ 'default';
							/*]]>*/
							var xValues = ["Studiati", "Da Studiare"];
							var yValues = [perc, diff]; // qui bisognerà mettere la percentuale di ogni utente 
							var barColors = ["#b91d47", //i colori delle due sezioni
								"#00aba9"];

							new Chart(
								"myChart",
								{
									type: "doughnut",
									data: {
										labels: xValues,
										datasets: [{
											backgroundColor: barColors,
											data: yValues
										}]
									},
									options: {
										title: {
											display: true,
										}
									}
								});
						</script>		
					
					</div>
				</div>
			</fieldset>

		</div>
	</div>

	<!--<section class="section">
		<div class="container">
			<div class="columns is-mobile">



				<div class="tile is-ancestor">
					<div class="tile is-vertical is-8">
						<div class="tile">
							<div class="column">
								1
								<div class="tile is-parent is-vertical">
									<article class="tile is-child notification is-primary">

										<p th:text="${session.userSession.email}" class="title">
											Infomrazioni personali</p>
										<p th:text="${session.userSession.password}" class="title">
											Infomrazioni personali</p>
										<p th:text="${session.userSession.nome}" class="title">
											Infomrazioni personali</p>
										<p th:text="${session.userSession.cognome}" class="title">
											Infomrazioni personali</p>
										<p th:text="${session.userSession.dataNascita}" class="title">
											Infomrazioni personali</p>



										<p class="subtitle">Nome e Cognome</p>
										<p class="subtitle">Email e Password Censurata</p>
										<p class="subtitle">Data Nascita</p>
										<p class="subtitle">Info questionario</p>
									</article>

								</div>
							</div>

							<div class="column">
								2
								<div class="tile is-parent">
									<article class="tile is-child notification is-info">
										<p class="title">Il tuo progresso personale</p>
										<p class="subtitle">Argomento 1: da studiare</p>
										<p class="subtitle">Argomento 2: studiato</p>
										<p class="subtitle">Argomento 3: da studiare</p>



										 GRAFICO A TORTA 







									</article>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>

		</div>
	</section>-->
</body>

</html>