@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400&display=swap');

* {
	margin: 0;
	/*	padding: 0; */
	outline: none;
	font-family: 'Poppins', sans-serif;
	--body-color: #2c2d2a;
	--savanna-bg: #e9bf8b;
	--beach-bg: #e7dfcf;
	--glacier-bg: #b6d6c8;
	--coral-bg: #e86357;
	--arrow-fill: #333231;
	--body-font: 'Poppins', sans-serif;
	--italic-font: "EB Garamond", serif;
	box-sizing: border-box;
}

/**********************************************************HEADER****************************************************************************/
a {
	text-decoration: none;
	color: var(--body-color);
}

h1,
h2,
h3 {
	margin: 0;
}

body {
	font-family: 'Poppins', sans-serif;
	background-color: #FFFFFF;
	padding: 10px;
	color: var(--body-color);
	margin: 0;
}

.pulsanti {
	display: flex;
	width: 50%;
	margin: auto;
	float: right;
}
.container {
	border-radius: 4px;
	width: 100%;
	display: flex;
	background-color: #FFFFFF;
	padding: 0 30px;
	margin-bottom: 30px;
	position: fixed;
	top: 0;
	z-index: 600;
}

.logo {
	width: 120px;
}

.header {
	/*questo header*/
	display: flex;
	align-items: center;
	height: 115px;
	width: 100%;
	white-space: nowrap;
	flex-shrink: 0;
	font-weight: 600;
	font-size: 15px;
	border-bottom: 1px solid rgba(44, 45, 42, 0.25);
	position: sticky;
	top: 0;
	left: 0;
	background-color: #FFFFFF;
	z-index: 600;
}


.header-menu a:not(:first-child) {
	margin-left: 30px;
}

.header .menu-icon {
	display: flex;
	align-items: center;
	margin-right: 20px;
}

.titolo {
	width: 50%;
	margin: auto;
	text-align: center;
	padding: 10px;
	color: #45779C;
	font-size: 25px;
	font-weight: 600;
}

.logo-container {
	width: 25%;
	margin: auto;
	text-align: center;
	padding: 3px;
}

.header-menu {
	text-align: center;
	margin-left: auto;
	margin-top: 5px;
	margin-bottom: auto;
	margin-right: auto;
	font-weight: bold;
	font-size: 16px;
}

.header-icons {
	width: 25%;
	margin: auto;
}

.center-container {
	width: 50%;
	margin: auto;
}

.search-bar {
	display: flex;
	width: 50%;
	border-radius: 4px;
	margin: auto;
}

.search-bar input {
	width: 100%;
	height: 100%;
	border: none;
	background-color: var(--search-bg);
	border-radius: 4px;
	font-family: 'Poppins', sans-serif;
	font-size: 15px;
	font-weight: 500;
	padding: 0 20px 0 40px;
	box-shadow: 0 0 0 2px rgba(134, 140, 160, 0.02);
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56.966 56.966' fill='%23717790c7'%3e%3cpath d='M55.146 51.887L41.588 37.786A22.926 22.926 0 0046.984 23c0-12.682-10.318-23-23-23s-23 10.318-23 23 10.318 23 23 23c4.761 0 9.298-1.436 13.177-4.162l13.661 14.208c.571.593 1.339.92 2.162.92.779 0 1.518-.297 2.079-.837a3.004 3.004 0 00.083-4.242zM23.984 6c9.374 0 17 7.626 17 17s-7.626 17-17 17-17-7.626-17-17 7.626-17 17-17z'/%3e%3c/svg%3e");
	background-size: 14px;
	background-repeat: no-repeat;
	background-position: 16px 48%;
	color: var(--theme-color);
}

.button {
	padding: 5px;
	background-color: #45779C;
	border: none;
	border-radius: 4px;
	width: 150px;
	/* height: 25px; */
	font-size: 15px;
	color: white;
	font-weight: bold;
}

.button a {
	color: white;
}

.login {
	/* width: 15%; */
	/* margin: auto; */
	text-align: center;
	padding: 10px;
	color: white;
	margin-left: 5px;
	margin-right: 5px;
}
.grid-container {
	display: grid;
	grid-template-columns: auto auto auto;
}

.grid-item {
	padding: 20px;
	text-align: center;
}

@media (max-width: 480px) {
	body {
		padding: 0;
	}
}

@media (max-width: 575px) {
	.header {
		width: calc(100% + 20px);
		margin-left: -10px;
	}
}

@media screen and (max-width: 740px) {
	.header-menu {
		display: none;
	}
}

@media screen and (max-width: 930px) {
	.left-side {
		text-align: center;
		max-width: 450px;
	}
}

@media screen and (max-width: 930px) {
	.container {
		position: fixed;
	}
}

[data-sld="1"] .container,
[data-sld="1"] .header {
	background-color: var(--savanna-bg);
}

[data-sld="2"] .container,
[data-sld="2"] .header {
	background-color: var(--glacier-bg);
}

[data-sld="3"] .container,
[data-sld="3"] .header {
	background-color: var(--coral-bg);
}

/**********************************************************HOMEPAGE****************************************************************************/
.container-home {
	border-radius: 4px;
	background-color: white;
	padding: 0 30px;
	margin-bottom: 30px;
	width: auto;
	margin-top: 90px;
}

.container-sezioni {
	display: flex;
	width: 100%;
	font-size: 15px;
	top: 0;
	left: 0;
	/* background-color: turquoise; */
	padding: 20px;
	border-radius: 5px;
	margin-bottom: 20px;
	margin: auto;
}
.container-sezioni fieldset {
	width: 25%;
	margin: auto;
	text-align: center;
}



.testo p {
	font-size: 18px;
	font-weight: 400;
	margin: 0;
	margin-top: 20px;
	margin-bottom: 20px;
}

.testo a {
	font-size: 15px;
	font-weight: 400;
	margin-top: 5px;
}

.background {
	/* background-color: #D7D6D6; */
	border-radius: 5px;
	margin: auto;
	width: 65%;
	padding: 20px;
	border: 1px solid turquoise;
}

.altro {
	right: 0;
	width: 50%;
	margin: auto;
	align-content: start;
	text-align: center;
}

.box-articolo {
	width: 25%;
	text-align: center;
	border: 1px black solid;
	margin: auto;
}

.testo {
	color: #2c2d2a;

	font-size: 25px;
	width:50%;

}

.testo-articolo p {
	font-size: 18px;
	font-weight: 400;
	margin: 0;
	margin-top: 20px;
}

.testo-articolo a {
	font-size: 15px;
	font-weight: 400;
	margin-top: 5px;
}

.image-box {
	width: 35%;
	margin: auto;
}

.image1 {
	width: 100%;
	margin: auto;
	height: auto;
}

.image2 {
	width: 100%;
	margin: auto;
	height: auto;
}

.button-test {
	padding: 10px;
	background-color: #45779C;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	color: white;
	font-weight: bold;
}

/**********************************************************LOGIN****************************************************************************/

.container-login {
	border-radius: 4px;
	background-color: white;
	padding: 0 30px;
	margin-top: 125px;
}

.text-login {
	margin: auto;
}

.image3 {
	border-radius: 4px;
}

.titolo-login {
	margin: auto;
	text-align: center;
	padding: 10px;
	color: #45779C;
	font-size: 25px;
	font-weight: 600;
	padding: 20px;
}

.components {
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	margin-top: 10px;
}

.components input {
	width: 90%;
	margin: 15px 5% 25px 5%;
	text-align: center;
	font-size: 25px;
	height: 35px;
	color: #1E1E24;
	border: none;
	border-bottom: 2px solid;
	background-color: rgba(0, 0, 0, .0);
}

.components input::placeholder {
	color: #1E1E24;
	opacity: 1;
	font-size: 30px;
}

input:focus {
	outline: none;
}

.components a {
	font-size: 22px;
	text-decoration: none;
	border-bottom: solid #1E1E24 2px;
	color: #1E1E24;
}

.components a:hover {
	font-weight: bold;
}

.components-button {
	width: 100%;
	text-align: center;
	margin-bottom: 20px;
	margin-top: 30px;
}

.components-button input {
	width: 100px;
	height: 40px;
	font-size: 22px;
	font-family: 'Poppins', sans-serif;
	color: black;
	background-color: white;
	border-radius: 10px;
}

.rigaSx {
	height: 1px;
	background: rgba(0, 0, 0, .2);
	width: 35%;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	float: left;
}

.rigaDx {
	height: 1px;
	background: rgba(0, 0, 0, .2);
	width: 35%;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	float: right;
}

.form-signin {
	padding: 15px 35px 45px;
	background-color: white;
	border-radius: 4px;
}

.form-control {
	position: relative;
	box-sizing: border-box;
}

.input-login {
	width: 50%;
	margin: auto;
	display: grid;
}

.input-login input {
	align-items: center;
	width: 70%;
	margin: auto;
	margin-bottom: 15px;
	font-size: 16px;
}

#text-style {
	color: red;
	font-weight: bold;
}

/**********************************************************REGISTRAZIONE****************************************************************************/
.corpoReg {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 75vh;
}

.containerReg {
	width: 600px;
	background-color: #D7D6D6;;
	border-radius: 5px;
	padding: 25px 20px 0px 20px;
}

.titReg {
	font-size: 35px;
	font-weight: 600;
	margin: 0 0 30px 0;
	text-align: center;
}

.spaceradio {
	display: inline-flex;
	font-weight: 300;
}

.spaceradio p {
	margin-left: 5px;
	margin-right: 5px;
	padding-left: 5px;
	padding-right: 5px;
}

.prova {
	width: 90%;
	padding: 10px;
	margin: auto;
}

.containerReg .form-outer {
	width: 100%;
	overflow: hidden;
}

.form-outer .form {
	display: flex;
	width: 400%;
}

.form-outer .form .page {
	width: 25%;
	transition: margin-left .3s ease-in-out;
	height: 550px;
}

.form-outer .form .page .title {
	font-size: 25px;
	font-weight: 500;
	text-align: center;
}

.form-outer .form .page .field {
	height: 50px;
	position: relative;
	display: flex;
}

.idDomanda,
.domanda {
	font-weight: 400;
	font-size: 16px;
	padding: 5px;
}

.label {
	display: flex;
}

.box-domande {
	padding: 5px;
}

.field2 {
	height: 450px;
}

.inputRegistrazione {
	height: 35px;
	width: 100%;
	border: 1px solid lightgrey;
	border-radius: 5px;
	font-size: 16px;
	padding-left: 15px;
}

.form .page .field select {
	width: 100%;
	padding: 10px;
	font-size: 17px;
	font-weight: 500;
}

.form-outer .form .page .field button {
	width: 100%;
	height: calc(100% + 5px);
	margin-top: -20px;
	border: none;
	border-radius: 5px;
	background-color: grey;
	color: #fff;
	font-size: 18px;
	font-weight: 600;
	letter-spacing: 1px;
	text-transform: uppercase;
	cursor: pointer;
	transition: .4s ease;
}

.form-outer .form .page .field button:hover {
	background-color: #45779C;
}

.form-outer .form .page .field .btns button {
	margin-top: -20px !important;
}

.form .page .btns button.prev {
	margin-right: 3px;
	font-size: 17px;
}

.form .page .btns button.next {
	margin-left: 3px;
}

.containerReg .progress-bar {
	display: flex;
	margin: 40px 0;
}

.containerReg .progress-bar .step {
	position: relative;
	text-align: center;
	width: 100%;
}

.progress-bar .step p {
	font-size: 18px;
	font-weight: 500;
	color: #000;
	margin-bottom: 8px;
}

.progress-bar .step p.active {
	color: #45779C;
}

.progress-bar .step .bullet {
	height: 25px;
	width: 25px;
	border: 2px solid #000;
	border-radius: 50%;
	display: inline-block;
	font-weight: 500;
	font-size: 17px;
	line-height: 25px;
	position: relative;
	transition: .2s;
}

.progress-bar .step .bullet.active {
	border-color: #45779C;
	background: #45779C;
}

.progress-bar .step:last-child .bullet::before,
.progress-bar .step:last-child .bullet::after {
	display: none;
}

.progress-bar .step .bullet::before,
.progress-bar .step .bullet::after {
	content: "";
	position: absolute;
	bottom: 11px;
	right: -112px;
	width: 100px;
	height: 2px;
	background-color: #262626;
}

.progress-bar .step .bullet.active::after {
	background-color: #45779C;
	transform: scaleX(0);
	transform-origin: left;
	animation: animate 0.3s linear forwards;
}

@keyframes animate {
	100% {
		transform: scaleX(1);
	}
}

.progress-bar .step .bullet span {
	font-weight: 500;
	font-size: 17px;
	line-height: 25px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.progress-bar .step .bullet.active span {
	display: none;
}

.progress-bar .step .check {
	position: absolute;
	left: 50%;
	top: 70%;
	font-size: 15px;
	transform: translate(-50%, -50%);
	display: none;
}

.progress-bar .step .check.active {
	display: block;
	color: #fff;
}

/**********************************************************PROFILO************************************************************************/
.box-profilo {
	display: flex;
	width: auto;
}

.background2 {
	background-color: #D7D6D6;
	border-radius: 5px;
	margin: auto;
	width: 65%;
	padding: 20px;
	display: grid;
	grid-template-columns: 50% 50%;
	height: 700px;
	overflow: scroll;
}


.background2 legend {
	font-weight: bold;
	font-size: 20px;
	color: #45779C;
}

.personal-progress {
	width: 95%;
	margin: auto;
}

.personal-info {
	width: 95%;
	margin: auto;
	margin-bottom: 20px;
}


.personal-info label {
	font-weight: bold;
	padding: 5px;
	width: 50%;
}

.progresso {
	width: 50%;
}

.infoUtente {
	display: flex;
	width: 55%;
	padding: 5px;
}


.infoUtente p {
	margin-left: 10px;
	padding: 5px;
	border-bottom: 1px solid black;
	padding-bottom: 0;
}


.infoUtente2 {
	display: flex;
	width: 100%;
	padding: 5px;
}

.infoUtente2 label {
	width: 42%;
	padding: 4px;
}

.infoUtente2 p {
	color: green;
	font-size: 20px;
	font-weight: bold;
}

.link {
	color: red;
	font-weight: 600;
	text-decoration: underline;
}

.parg {
	margin-left: 9px;
}

.tab-arg td th {
  border: none;
}
.prova{
width:90%;
}
.tab-arg {
  width: 100%;

}

/** grafico a torta **/
#myChart {
	width: 100%;
	max-width: 450px;
	display: block;
	margin: auto;
}

/**** MODIFICA PROFILO ****/
.sez-button {
	width: 100%;
	margin-top: 20px;
	margin-right: auto;
	margin-left: auto;
	display: flex;
}

.sez-button button {
	background-color: #45779C;
	border: none;
	border-radius: 4px;
	font-size: 15px;
	color: white;
	font-weight: bold;
	margin-right: 30px;
	margin-left: 5px;
}

.sez-button a{
	  margin-left: auto;
  margin-right: 10px;
}

.p-mod {
	margin: auto;
	width: 50%;
	text-align: center;
}

.but-mod {
	/* position: relative; */
	/* width: 30%; */
	margin: auto;
	margin-top: 15px;
	margin-bottom: 15px;
	/* display: inlin; */
	/* align-content: center; */
	width: 50%;
}

.personal-info-mod {
	width: 45%;
	margin: auto;
	margin-bottom: 20px;
	/* height: 164px; */
}


.personal-info-mod fieldset{
	height: 250px;
}
/**********************************************************pagina dei risultati*****************************************************************/

.risultati span {
	font-size: 18px;
	color: #45779C;
	font-weight: 600;
}

/**********************************************************TEST****************************************************************************/

.background3 {
	background-color: #D7D6D6;
	border-radius: 5px;
	margin: auto;
	width: 65%;
	padding: 20px;
	display: grid;
	height: 700px;
	overflow: scroll;
}

/**********************************************************ADMIN****************************************************************************/
.titAdmin {
	color: black;
	text-align: center;
	font-size: 20px;
}

.boxArg {
	width: 75%;
	margin: auto;
	padding: 10px;
}

.boxArg input,
select,
textarea {
	padding: 5px;
	margin: 15px;
	font-size: 16px;
}

.buttonArg {
	margin: auto;
	display: table;
}