@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap");
* {
  --body-color: #2c2d2a;
  --savanna-bg: #e9bf8b;
  --beach-bg: #e7dfcf;
  --glacier-bg: #b6d6c8;
  --coral-bg: #e86357;
  --arrow-fill: #333231;
  --body-font: "Montserrat", sans-serif;
  --italic-font: "EB Garamond", serif;
}

* {
  box-sizing: border-box;
  outline: none;
}



a {
  text-decoration: none;
  color: var(--body-color);
}

h1,
h2,
h3 {
  margin: 0;
}

body {
	font-family: var(--body-font);
	background-color: #1d1e20;
	padding: 15px;
	color: var(--body-color);
}


.container {
	border-radius: 4px;
	height: 130px;
	width: 100%;
	display: flex;
	/* scroll-behavior: smooth; */
	background-color: #D7D6D6;
	padding: 0 30px;
	margin-bottom: 30px;
}

.logo {
	width: 120px;
}

.header {  /*questo header*/
	display: flex;
	align-items: center;
	height: 115px;
	width: 100%;
 	white-space: nowrap; 
	flex-shrink: 0; 
	font-weight: 600;
	font-size: 15px;
	border-bottom: 1px solid rgba(44, 45, 42, 0.25);
	position: sticky;
	top: 0;
	left: 0;
	background-color: #D7D6D6;
	z-index: 600;
}


.header-menu a:not(:first-child) {
  margin-left: 30px;
}
.header .menu-icon {
  display: flex;
  align-items: center;
  margin-right: 20px;
}



.titolo {
	width: 50%;
	margin: auto;
	text-align: center;
	padding: 10px;
	color: #45779C;
	font-size: 25px;
	font-weight: 600;
}
.logo-container {
	width: 25%;
	margin: auto;
	text-align: center;
	padding: 3px;
}

.header-menu {
	text-align: center;
	margin-left: auto;
	margin-top: 5px;
	margin-bottom: auto;
	margin-right: auto;
	font-weight: bold;
	font-size: 16px;
}

.header-icons{
	width: 25%;
	margin:auto;
}

.center-container{
	width: 50%;
	margin:auto;
}


.search-bar {
	display: flex;
	width: 50%;
	border-radius: 4px;
	margin: auto;
}
.search-bar input {
	width: 100%;
	height: 100%;
	border: none;
	background-color: var(--search-bg);
	border-radius: 4px;
	font-family: var(--body-font);
	font-size: 15px;
	font-weight: 500;
	padding: 0 20px 0 40px;
	box-shadow: 0 0 0 2px rgba(134, 140, 160, 0.02);
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56.966 56.966' fill='%23717790c7'%3e%3cpath d='M55.146 51.887L41.588 37.786A22.926 22.926 0 0046.984 23c0-12.682-10.318-23-23-23s-23 10.318-23 23 10.318 23 23 23c4.761 0 9.298-1.436 13.177-4.162l13.661 14.208c.571.593 1.339.92 2.162.92.779 0 1.518-.297 2.079-.837a3.004 3.004 0 00.083-4.242zM23.984 6c9.374 0 17 7.626 17 17s-7.626 17-17 17-17-7.626-17-17 7.626-17 17-17z'/%3e%3c/svg%3e");
	background-size: 14px;
	background-repeat: no-repeat;
	background-position: 16px 48%;
	color: var(--theme-color);
}

.button {
	
	padding: 5px;
	background-color: #45779C;
	border: none;
	border-radius: 4px;
	width: 150px;
	height: 25px;
	font-size: 15px;
}

.login{
	width: 50%;
	margin: auto;
	text-align: center;
	padding: 10px;
}



@media (max-width: 480px) {
  body {
    padding: 0;
  }
}

@media (max-width: 575px) {
  .header {
    width: calc(100% + 20px);
    margin-left: -10px;
  }
}

@media screen and (max-width: 740px) {
  .header-menu {
    display: none;
  }
}


@media screen and (max-width: 930px) {
  .left-side {
    text-align: center;
    max-width: 450px;
  }
}


@media screen and (max-width: 930px) {

}


 

[data-sld="1"] .container,
[data-sld="1"] .header {
  background-color: var(--savanna-bg);
}

[data-sld="2"] .container,
[data-sld="2"] .header {
  background-color: var(--glacier-bg);
}

[data-sld="3"] .container,
[data-sld="3"] .header {
  background-color: var(--coral-bg);
}

/* ----------------------- HOMEPAGE ----------------------- */

.container-home {
	border-radius: 4px;
	/* scroll-behavior: smooth;*/
	background-color: #D7D6D6;
	padding: 0 30px;
	margin-bottom: 30px;
	width: auto;
}

.container-sezioni {
	display: flex;
	/* align-items: center; */
	width: 100%;
	/* white-space: pre-line; */
	/* flex-shrink: 0; */
	font-weight: 600;
	font-size: 15px;
	border-bottom: 1px solid rgba(44, 45, 42, 0.25);
	/* position: sticky; */
	top: 0;
	left: 0;
	background-color: #D7D6D6;
	padding: 20px;
}
.testo {
	color: #2c2d2a;
	width: 50%;
	text-align: center;
	font-size: 25px;
}


.testo p {
	font-size: 18px;
	font-weight: 400;
	margin: 0;
	margin-top: 20px;
}

.testo a{
	font-size: 15px;
	font-weight: 400;
	margin-top: 5px;
}

.sezione-argomenti{
	border-color: black;
	height: 200px;
	border-style: solid;
	border-width: 1px;
	margin: 15px;
}

.sezione-favole{
	border-color: black;
	height: 200px;
	border-style: solid;
	border-width: 1px;
	margin: 15px;
}

.sezione-news{
	border-color: black;
	height: 200px;
	border-style: solid;
	border-width: 1px;
	margin: 15px;
}

.image {
	width: 50%;
	height: 200px;
	background: #2c2d2a;
}

.button-test {
	padding: 5px;
	background-color: #45779C;
	border: none;
	border-radius: 4px;
	width: 200px;
	height: 35px;
	font-size: 15px;
	margin: 25px;
	font-size: 16px;
}